/** Listado Pendientes **/
.listado-pendientes {
    background-color: #F2F2F2;
    max-width: 800px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid #999;
}
.listado-pendientes ul {
    padding: 0;
    list-style: none;
}
.listado-pendientes ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid #d1d1d1;
}
.listado-pendientes ul li:last-of-type {
    border-bottom: none;
}
.listado-pendientes ul li i {
    cursor: pointer;
}
.acciones i:last-child{
    margin-left: 3rem;
}
.completo {
    color: #00B762;
}
.alerta {
    background-color: red;
    padding: .5rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}